.footer {
  background: #231f20;
  color: #fff;
  padding: 30px;
  height: auto;
  max-width: 100%;
  margin-top: auto;
}
.footer__content {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__logo {
  height: auto;
  width: 200px;
  margin-bottom: 20px;
}
.footer__logo img {
  height: auto;
  max-width: 80px;
}
.footer__text {
  font-size: 14px;
}
.footer__header h1 {
  font-size: 15px;
  text-transform: capitalize;
}
.footer__social {
  margin-bottom: 30px;
}
.footer li {
  list-style: none;
  vertical-align: top;
  display: inline-block;
  padding: 0 10px 0 10px;
}
.footer__youtube {
  color: #fff;
}
.footer__instagram {
  color: #fff;
}
.footer__pinterest {
  color: #fff;
}
.footer__desc {
  font-size: 12px;
  color: #fff;
}