.nav {
  margin: 0 auto;
  max-width: 100%;
  min-height: 80px;
  padding: 2px 10%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.nav a {
  color: #231f20;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
}
.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav__links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 700;
}
.nav__links a:hover {
  color: #d1c799;
}
.nav__logo {
  cursor: pointer;
  width: auto;
  height: 65px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
@media (max-width: 800px) {
  .nav__logo {
    height: 25px;
  }
  .nav__links li {
    display: inline-block;
    padding: 0px 0px;
    padding: 0px 0px;
  }
  .nav__links li a {
    font-weight: 600;
  }
}