// colors
$prestonRed: #cf4037;
$prestonBlue: #2d509f;
$prestonYellow: #fde62f;
$prestonWhite: #ffffff;
$prestonGray: #e3e3e3;
$prestonBlack: #010b13;

// overlays
$blackOverlay: linear-gradient( rgba(0,0,0,0.4),rgba(0,0,0,0.5));
$blackOverlayLight: linear-gradient( rgba(0,0,0,0.1),rgba(0,0,0,0.1));

/*
#CF4037
#FDE62F
#2D509F
#FFFFFF
#E3E3E3
#010b13  //rich black
#231f20
*/
