.contact {
  &__intro {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    h2 {
      @include medium_header;
    }
    p {
      @include small_paragraph;
    }
  }
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 2px solid $prestonBlack;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: $prestonGray;
}

input[type="submit"] {
  @include btn_reg;
}

input[type="submit"]:hover {
  @include btn_reg_fx;
}

/* Style the contact/contact section */
.contact {
  border-radius: 5px;
  background-color: $prestonGray;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.teamImg {
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/images/memberships/horizontal-teamSportHands.jpg);
  background-color: peachpuff;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
