.about {
  background-image: url(../asset/img/brownGreenMountainsJpeg.jpg);
  background-position: 0px -120px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}
.about__main {
  max-width: 1000px;
  min-height: 500px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 500px;
}
.about--h1 {
  color: #d1c799;
  font-size: 30px;
  text-transform: uppercase;
}
.about--h2 {
  font-size: 20px;
  text-transform: capitalize;
}
.about__desc {
  line-height: 30px;
  overflow: auto;
}
.about__photo {
  max-width: 350px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1150px;
}
.about__photoHeader {
  color: #000;
  text-transform: capitalize;
}
.about--button {
  border: 3px solid #d1c799;
  border-radius: 20px;
  background: none;
  padding: 5px 10px;
  color: #000;
  font-weight: 400;
  font-size: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}
.about--button:hover {
  border-radius: 5px;
  padding: 8px 13px;
  font-size: 17px;
}
.about--button:active {
  outline: none;
}

@media (max-width: 1450px) {
  .about__main {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.6);
    color: #000;
    margin-bottom: 20px;
    padding: 40px;
  }
  .about__photo {
    margin: 0 auto;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about--button {
    font-weight: bolder;
    border: 3px solid #000;
  }
}
@media (max-width: 800px) {
  .about {
    background: #fff;
  }
}