.about {

    &__introsection {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 20px;
        background-color: $prestonGray;
    }
    h1 {
        @include medium_header;
    }
    p {
        @include medium_paragraph;
    }
    h2 {
        @include small_header;
    }
    .ourTeamHeader {
        margin-top: 20px;
    }
    .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
      }
      
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
      }
      
      .about-section {
        padding: 50px;
        text-align: center;
        background-color: #474e5d;
        color: white;
      }
      
      .container {
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
      }
      
      .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
      }
      h3 {
        @include small_header;
      }
      p {
        @include small_paragraph;
      }
      
      .title {
        @include small_header;
      }
      
      &__button {
        @include btn_reg;
      }
      
      &__button:hover {
        @include btn_reg_fx;
      }
}





// slideshow
.slides {
    padding: 20px;
    background-color: $prestonGray;

    &__introtext {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    h2 {
        @include small_header;
    }
    p {
        @include small_paragraph;
    }
    &__social {
        margin-bottom: 30px;
    }
    li {
        list-style: none;
        vertical-align: top;
        display: inline-block;
        padding: 0 10px 0 10px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    &__youtube {
        color: $prestonRed;
    }
    &__instagram {
        color: $prestonRed;
    }
    &__pinterest {
        color: $prestonRed;
    }

    .mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
}


@media (max-width: 800px) {
    .about {

        &__main {
            margin: 0 auto;
            // background: rgba(128, 0, 128, 0.4);
            background: rgba(255, 255, 255, 0.6);
            color: #000;
            margin-bottom: 20px;
            padding: 40px;
        }

    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .slides {
        .text {font-size: 11px}
    }
  }

  @media screen and (max-width: 800px) {
    .about {
        .column {
            width: 100%;
            display: block;
          }
    }
  }
